@import "tailwindcss";

:root {
  /* LIGHT THEME */
  --bg: #f9fafb;
  --card: #ffffff;
  --text: #111827;
  --primary: #4f46e5;
  --secondary: #374151;
  
}

.dark {
  /* DARK THEME */
  --bg: #111827;
  --card: #1f2937;
  --text: #f9fafb;
  --primary: #6366f1;
  --secondary: #374151;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}